/* ================================= INICIO INDEX =============================================== */
.header-container {
  color: antiquewhite;
  background-color: #caffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 2px 17px 2px rgba(0, 0, 0, 0.1725490196);
  background: linear-gradient(to bottom, #789191 0%, #b8b8b8 95%);
  font-family: "Nova Square", cursive;
}

.section-container {
  margin: 90px 5px 140px 5px;
}

.main-logo {
  width: 100%;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 80px;
  color: #008cff;
  font-style: italic;
}

.frase-principal {
  color: #008cff;
  font-family: "Square Peg", cursive;
  font-size: 75px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.shops {
  color: #8a8a8a;
  padding: 100px 100px 100px 100px;
  font-size: 25px;
}

.stores {
  margin: 30px 30px 50px 30px;
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: repeat(4, auto);
  gap: 30px 20px;
}

.stores-grid {
  background-color: antiquewhite;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1.25s;
}

.stores-grid:hover {
  border-radius: 0%;
}

.footer-container {
  background-color: #ececec;
}

.map-iframe {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.redes-footer {
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 60px;
  align-items: flex-end;
  font-size: 25px;
  width: auto;
  margin: 0% 5% 0% 85%;
}

.face-logo {
  height: 50px;
}

.insta-logo {
  height: 50px;
}

/* ================================= FIN INDEX =============================================== */
/* ================================== INICIO LOCALES ========================================= */
.locales-title {
  color: #008cff;
  font-family: "Goldman", cursive;
  font-size: 60px;
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

.locales-horarios {
  color: #6e6e6e;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.locales-info-container {
  margin: 200px 80px 200px 80px;
  display: grid;
  grid-template-rows: 200px 200px 200px 200px;
  grid-template-columns: repeat(3, auto);
  gap: 30px 10px;
}

.locales-info {
  border: solid 2px #b0ffe5;
  background-color: aliceblue;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 20px;
  text-align: center;
}

/* ======================================== FIN LOCALES ======================================== */
/* ================================ INICIO PROMOCIONES ======================================== */
.promociones-title {
  color: #008cff;
  font-family: "Goldman", cursive;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.carousel-promociones {
  margin: 55px 55px 55px 55px;
}

/* ================================ FIN PROMOCIONES ======================================== */
/* ================================ INICIO NOSOTROS ======================================== */
.nosotros-title {
  color: #008cff;
  font-family: "Goldman", cursive;
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding: 20px 0px 20px 0px;
}

.nosotros-grid {
  background-color: antiquewhite;
  color: white;
  padding: 30px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 600px 600px 600px;
  grid-template-rows: 400px 400px 400px 400px 200px;
}

.nosotros-galeria {
  overflow: hidden;
}

.nosotros-imagenes {
  width: 100%;
  position: relative;
  object-fit: fill;
  box-shadow: 10px 11px 12px -8px rgba(0, 0, 0, 0.699);
  transition: all 2s;
}

.nosotros-imagenes:hover {
  transform: scale(2);
}

/* ================================ FIN NOSOTROS ======================================== */
/* ================================ INICIO CONTACTO ======================================== */
.contacto-title {
  color: #008cff;
  font-family: "Goldman", cursive;
  font-size: 70px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.contacto-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: antiquewhite;
  border: solid 2px;
  margin-bottom: 100px;
  width: 1000px;
  box-shadow: 10px 12px 14px -8px black;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.boton {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 80%;
  border: 2px solid rgba(0, 0, 0, 0.801);
  border-radius: 10px;
  transition: all 0.2s;
  background-color: #d2ffff;
}

.divForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  color: rgb(0, 0, 0);
  font-size: 200%;
}

.inputForm {
  width: 100%;
  min-height: 40px;
  font-size: 120%;
  text-align: center;
}

/* ================================ FIN CONTACTO ======================================== */
/* ================================================== INICIO RESPONSIVE ===================================== */
/* ==== MOBILE ==== */
@media only screen and (max-width: 576px) {
  /* ============================================ INDEX MOBILE========================= */
  .main-title {
    font-size: 3rem;
    justify-content: center;
  }

  .frase-principal {
    font-size: 35px;
  }

  .stores {
    display: none;
  }

  .shops {
    display: none;
  }

  .redes-footer {
    display: flex;
    justify-content: flex-end;
  }

  /* =========================================== FIN INDEX MOBILE============================*/
  /* ==================================== INICIO LOCALES MOBILE ================================*/
  .locales-info-container {
    margin: 200px 80px 200px 80px;
    display: grid;
    grid-template-rows: repeat(12, 150px);
    grid-template-columns: repeat(1, auto);
    gap: 30px 10px;
  }

  .locales-title {
    padding-top: 5%;
    font-size: 3rem;
  }

  .locales-horarios {
    font-size: 2rem;
  }

  /* ==================================== FIN LOCALES MOBILE ================================*/
  /* ==================================== INICIO PROMOCIONES MOBILE ================================*/
  .promociones-title {
    font-size: 3rem;
    padding-top: 5%;
  }

  /* ==================================== FIN PROMOCIONES MOBILE ================================*/
  /* ==================================== INICIO NOSOTROS MOBILE ================================*/
  .nosotros-title {
    font-size: 3rem;
  }

  .nosotros-grid {
    display: grid;
    grid-template-rows: repeat(12, 400px);
    grid-template-columns: 400px;
  }

  .nosotros-imagenes {
    grid-column: auto;
    grid-row: auto;
  }

  /* ==================================== FIN NOSOTROS MOBILE ================================*/
  /* ==================================== INICIO CONTACTO MOBILE ================================*/
  #form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    border: solid 2px;
    margin-bottom: 100px;
    width: 480px;
    box-shadow: 10px 12px 14px -8px black;
  }

  .divForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    color: rgb(0, 0, 0);
    font-size: 100%;
  }

  .inputForm {
    width: 100%;
    min-height: 40px;
    font-size: 80%;
    text-align: center;
  }

  /* ==================================== FIN CONTACTO MOBILE ================================*/
}
/* ==== TABLET ==== */
@media only screen and (min-width: 576px) and (max-width: 992px) {
  /*========================================== INDEX TABLET ==============================*/
  .main-title {
    font-size: 4rem;
    justify-content: center;
  }

  .frase-principal {
    font-size: 3rem;
  }

  .stores {
    display: none;
  }

  .shops {
    display: none;
  }

  .redes-footer {
    display: flex;
    justify-content: flex-end;
  }

  /*======================================= FIN INDEX TABLET ========================*/
  /* ==================================== INICIO LOCALES TABLET ================================*/
  .locales-info-container {
    margin: 200px 80px 200px 80px;
    display: grid;
    grid-template-rows: repeat(12, 200px);
    grid-template-columns: repeat(1, auto);
    gap: 30px 10px;
  }

  .locales-title {
    padding-top: 5%;
    font-size: 3rem;
  }

  .locales-horarios {
    font-size: 2rem;
  }

  /* ==================================== FIN LOCALES TABLET ================================*/
  /* ==================================== INICIO PROMOCIONES TABLET ================================*/
  .promociones-title {
    font-size: 3rem;
    padding-top: 5%;
  }

  /* ==================================== FIN PROMOCIONES TABLET ================================*/
  /* ==================================== INICIO NOSOTROS TABLET ================================*/
  .nosotros-grid {
    display: grid;
    grid-template-columns: 400px 400px;
  }

  .nosotros-imagenes {
    grid-column: auto;
    grid-row: auto;
  }

  .nosotros-title {
    font-size: 3rem;
  }

  /* ==================================== FIN NOSOTROS TABLET ================================*/
  /* ==================================== INICIO CONTACTO TABLET ================================*/
  #form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    border: solid 2px;
    margin-bottom: 100px;
    width: 800px;
    box-shadow: 10px 12px 14px -8px black;
  }

  .divForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    color: rgb(0, 0, 0);
    font-size: 150%;
  }

  .inputForm {
    width: 100%;
    min-height: 40px;
    font-size: 100%;
    text-align: center;
  }
}
/* ==================================== FIN CONTACTO TABLET ================================*/
/* ==== DESKTOP ==== */
/* =============================================== FIN RESPONSIVE ======================================= */

/*# sourceMappingURL=style.css.map */
