.boton, .boton--reset, .boton--enviar {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 80%;
  border: 2px solid rgba(0, 0, 0, 0.801);
  border-radius: 10px;
  transition: all 0.2s;
  background-color: #d2ffff;
}

/* ================================= INICIO INDEX =============================================== */
.header-container {
  color: antiquewhite;
  background-color: #caffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 2px 17px 2px rgba(0, 0, 0, 0.1725490196);
  background: linear-gradient(to bottom, #f84c82 0%, #ffb9b9 95%);
  font-family: "Nova Square", cursive;
}

.section-container {
  margin: 90px 5px 140px 5px;
}

.main-logo {
  width: 100%;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 80px;
  color: #008cff;
  font-style: italic;
}

.animate__animated.animate__flash {
  animation-delay: 1s;
  animation-duration: 3s;
}

.frase-principal {
  color: #008cff;
  font-family: "Square Peg", cursive;
  font-size: 75px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.animate__animated.animate__rubberBand {
  animation-delay: 1.5s;
  animation-duration: 6s;
}

.shops {
  color: #8a8a8a;
  padding: 100px 100px 100px 100px;
  font-size: 25px;
}

.stores {
  margin: 30px 30px 50px 30px;
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: repeat(4, auto);
  gap: 30px 20px;
}

.stores-grid {
  background-color: antiquewhite;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1.25s;
}
.stores-grid:hover {
  border-radius: 0%;
}

.footer-container {
  background-color: #ececec;
}

.map-iframe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes-footer {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 10rem;
}

.links-footer {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding-right: 8rem;
  font-weight: 600;
}

.face-logo {
  height: 50px;
}

.insta-logo {
  height: 50px;
}

/* ================================= FIN INDEX =============================================== */
/* ================================== INICIO LOCALES ========================================= */
.locales-title {
  color: #008cff;
  font-family: "Goldman", cursive;
  font-size: 60px;
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
}

.locales-horarios {
  color: #6e6e6e;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.locales-info-container {
  margin: 200px 80px 200px 80px;
  display: grid;
  grid-template-rows: 200px 200px 200px 200px;
  grid-template-columns: repeat(3, auto);
  gap: 30px 10px;
}

.locales-info {
  border: solid 2px #b0ffe5;
  background-color: aliceblue;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 20px;
  text-align: center;
}

/* ======================================== FIN LOCALES ======================================== */
/* ================================ INICIO PROMOCIONES ======================================== */
.promociones-title {
  color: #008cff;
  font-family: "Goldman", cursive;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 15px;
  padding: 20px 20px 100px 20px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.52);
}

.img-2 {
  grid-row: span 2;
}

.img-6 {
  grid-column: span 3;
}

/* ================================ FIN PROMOCIONES ======================================== */
/* ================================ INICIO NOSOTROS ======================================== */
.nosotros-title {
  color: #008cff;
  font-family: "Goldman", cursive;
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding: 20px 0px 20px 0px;
}

.carousel-nosotros {
  margin: 90px 120px 90px 120px;
  object-fit: cover;
}

/* ================================ FIN NOSOTROS ======================================== */
/* ================================ INICIO CONTACTO ======================================== */
.contacto-title {
  color: #008cff;
  font-family: "Goldman", cursive;
  font-size: 70px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.contacto-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to bottom, #8a8a8a 0%, #ececec 95%);
  border: solid 2px;
  border-radius: 5%;
  margin-bottom: 100px;
  width: 1000px;
  box-shadow: 10px 12px 14px -8px black;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.boton, .boton--reset, .boton--enviar {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 80%;
  border: 2px solid rgba(0, 0, 0, 0.801);
  border-radius: 10px;
  transition: all 0.2s;
}

.boton--enviar {
  background-color: whitesmoke;
  color: black;
}

.boton--reset {
  background-color: whitesmoke;
  color: black;
}

.divForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  color: white;
  font-size: 200%;
}

.inputForm {
  width: 100%;
  min-height: 40px;
  font-size: 120%;
  text-align: center;
  border-radius: 5%;
  border-color: white;
}

/* ================================ FIN CONTACTO ======================================== */
/* ================================================== INICIO RESPONSIVE ===================================== */
/* ==== MOBILE ==== */
@media only screen and (max-width: 576px) {
  /* ============================================ INDEX MOBILE========================= */
  .main-title {
    font-size: 3rem;
    justify-content: center;
  }

  .frase-principal {
    font-size: 35px;
  }

  .stores {
    display: none;
  }

  .shops {
    display: none;
  }

  .links-footer {
    display: none;
  }

  .map-iframe {
    width: 330px;
  }

  .redes-footer {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }

  .face-logo {
    height: 25px;
  }

  .insta-logo {
    height: 25px;
  }

  /* =========================================== FIN INDEX MOBILE============================*/
  /* ==================================== INICIO LOCALES MOBILE ================================*/
  .locales-info-container {
    margin: 200px 80px 200px 80px;
    display: grid;
    grid-template-rows: repeat(12, 150px);
    grid-template-columns: repeat(1, auto);
    gap: 30px 10px;
  }

  .locales-title {
    padding-top: 5%;
    font-size: 3rem;
  }

  .locales-horarios {
    font-size: 2rem;
  }

  /* ==================================== FIN LOCALES MOBILE ================================*/
  /* ==================================== INICIO PROMOCIONES MOBILE ================================*/
  .promociones-title {
    font-size: 3rem;
    padding-top: 5%;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 220px;
  }

  .gallery-item {
    grid-column: span 1;
    grid-row: span 1;
  }

  /* ==================================== FIN PROMOCIONES MOBILE ================================*/
  /* ==================================== INICIO NOSOTROS MOBILE ================================*/
  .nosotros-title {
    font-size: 3rem;
  }

  .carousel-nosotros {
    height: fit-content;
    width: fit-content;
    margin: 105px 10px 105px 10px;
  }

  .carousel-item {
    height: 400px;
    width: auto;
    object-fit: scale-down 12;
  }

  .img-2 {
    display: none;
  }

  .img-6 {
    display: none;
  }

  /* ==================================== FIN NOSOTROS MOBILE ================================*/
  /* ==================================== INICIO CONTACTO MOBILE ================================*/
  #form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    border: solid 2px;
    margin-bottom: 100px;
    width: 480px;
    box-shadow: 10px 12px 14px -8px black;
  }

  .divForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    color: rgb(0, 0, 0);
    font-size: 100%;
  }

  .inputForm {
    width: 100%;
    min-height: 40px;
    font-size: 80%;
    text-align: center;
  }

  /* ==================================== FIN CONTACTO MOBILE ================================*/
}
/* ==== TABLET ==== */
@media only screen and (min-width: 576px) and (max-width: 992px) {
  /*========================================== INDEX TABLET ==============================*/
  .main-title {
    font-size: 4rem;
    justify-content: center;
  }

  .frase-principal {
    font-size: 3rem;
  }

  .stores {
    display: none;
  }

  .shops {
    display: none;
  }

  .redes-footer {
    display: flex;
    justify-content: flex-end;
  }

  /*======================================= FIN INDEX TABLET ========================*/
  /* ==================================== INICIO LOCALES TABLET ================================*/
  .locales-info-container {
    margin: 200px 80px 200px 80px;
    display: grid;
    grid-template-rows: repeat(12, 200px);
    grid-template-columns: repeat(1, auto);
    gap: 30px 10px;
  }

  .locales-title {
    padding-top: 5%;
    font-size: 3rem;
  }

  .locales-horarios {
    font-size: 2rem;
  }

  .main-locales {
    margin-bottom: 150px;
  }

  /* ==================================== FIN LOCALES TABLET ================================*/
  /* ==================================== INICIO PROMOCIONES TABLET ================================*/
  .promociones-title {
    font-size: 3rem;
    padding-top: 5%;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 220px;
  }

  .gallery-item {
    grid-column: span 1;
    grid-row: span 1;
  }

  .img-2 {
    display: none;
  }

  .img-6 {
    display: none;
  }

  /* ==================================== FIN PROMOCIONES TABLET ================================*/
  /* ==================================== INICIO NOSOTROS TABLET ================================*/
  .nosotros-title {
    font-size: 3rem;
  }

  .carousel-nosotros {
    height: fit-content;
    width: fit-content;
    margin: 105px 10px 105px 10px;
  }

  .carousel-item {
    height: 500px;
    width: auto;
    object-fit: scale-down 12;
  }

  /* ==================================== FIN NOSOTROS TABLET ================================*/
  /* ==================================== INICIO CONTACTO TABLET ================================*/
  #form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    border: solid 2px;
    margin-bottom: 100px;
    width: 800px;
    box-shadow: 10px 12px 14px -8px black;
  }

  .divForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    color: rgb(0, 0, 0);
    font-size: 150%;
  }

  .inputForm {
    width: 100%;
    min-height: 40px;
    font-size: 100%;
    text-align: center;
  }
}
/* ==================================== FIN CONTACTO TABLET ================================*/
/* ==== DESKTOP ==== */
/* =============================================== FIN RESPONSIVE ======================================= */

/*# sourceMappingURL=style.css.map */
